/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 3.5rem;
}
.descr-top{
    background-image: url('../images/topo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #fff;
    border-radius: 0px;
    margin-bottom: 0rem !important;
}
.servicos{
    border-radius: 0px;
    margin-bottom: 0rem !important;
}
